<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/css/add.css" rel="stylesheet">
   <title>Додати поле таблиці</title>
</head>
<body>
   <h1>Додати забруднюючу речовину</h1>
   <div class="form-column">
         <form action="/add-pollutant" method="POST">
            <h4>Назва забруднюючої речовини</h4><br>
            <input name="name" class="field"><br><br>
            <h4>Максимальна масова витрата, г/год</h4><br>
            <input name="mass_flow_rate" class="field"><br><br>
            <h4>Поріговий ліміт значення, мг/м³</h4><br>
            <input name="tlv" class="field"><br><br>
            <input type="submit" value="Додати" class="submit-button">
         </form>

         <form action="/import-pollutant" enctype="multipart/form-data" method="POST">
            <label for="import-pollutant" class="submit-button">
               <input class="hidden"
               type="file"
               name="import-pollutant-file"
               id="import-pollutant"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               onchange="this.form.submit()">
            Імпортувати дані з Excel файлу
            </label>
         </form>
      </div>
   <a href="/" class="back-button">До таблиці</a>
</body>
</html>
